<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item ">
            <a class="nav-link" href="#">Offers <span class="sr-only">(current)</span></a>
        </li>

      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Flights
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Domestic Flights</a>
            <a class="dropdown-item" href="#">International Flights</a>                
            <a class="dropdown-item" href="#">Charter Flights</a>
          </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Trip Deals</a>
              <a class="dropdown-item" href="#">Gift Cards</a>                
              <a class="dropdown-item" href="#">Activities</a>
            </div>
          </li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">            
      </form>
    </div>
    </div>
  </nav>

<section>
  
    <div class="container">
        <div class="flight row">
            <div class="flightProvider col-md-3">
                <img src="../../assets/images/indigo-logo.png" class="providerImg" />
                <div class="flightId">ING-987</div>
            </div>
            <div class="flightTime col-md-5">
                <div class="dep-arr">
                    <p>10:40-12:55</p>&nbsp;&nbsp;&nbsp;
                    <p>BOM-DEL</p>
                </div>                    
            </div>
            <div class="flightPrice col-md-1">
                $236
            </div>
            <div class="flightBookBtn col-md-3">
                <button class="btn btn-success" onClick="window.location.href='/bookFlight'">Book</button>
            </div>
        </div>

        <div class="flight row">
            <div class="flightProvider col-md-3">
                <img src="../../assets/images/indigo-logo.png" class="providerImg" />
                <div class="flightId">ING-987</div>
            </div>
            <div class="flightTime col-md-5">
                <div class="dep-arr">
                    <p>10:40-12:55</p>&nbsp;&nbsp;&nbsp;
                    <p>BOM-DEL</p>
                </div>                    
            </div>
            <div class="flightPrice col-md-1">
                $236
            </div>
            <div class="flightBookBtn col-md-3">
                <button class="btn btn-success" onClick="window.location.href='/bookFlight'">Book</button>
            </div>
        </div>

        <div class="flight row">
            <div class="flightProvider col-md-3">
                <img src="../../assets/images/indigo-logo.png" class="providerImg" />
                <div class="flightId">ING-987</div>
            </div>
            <div class="flightTime col-md-5">
                <div class="dep-arr">
                    <p>10:40-12:55</p>&nbsp;&nbsp;&nbsp;
                    <p>BOM-DEL</p>
                </div>                    
            </div>
            <div class="flightPrice col-md-1">
                $236
            </div>
            <div class="flightBookBtn col-md-3">
                <button class="btn btn-success" onClick="window.location.href='/bookFlight'">Book</button>
            </div>
        </div>

        <div class="flight row">
            <div class="flightProvider col-md-3">
                <img src="../../assets/images/indigo-logo.png" class="providerImg" />
                <div class="flightId">ING-987</div>
            </div>
            <div class="flightTime col-md-5">
                <div class="dep-arr">
                    <p>10:40-12:55</p>&nbsp;&nbsp;&nbsp;
                    <p>BOM-DEL</p>
                </div>                    
            </div>
            <div class="flightPrice col-md-1">
                $236
            </div>
            <div class="flightBookBtn col-md-3">
                <button class="btn btn-success" onClick="window.location.href='/bookFlight'">Book</button>
            </div>
        </div>
    </div> 
    
    

</section>