@import "~bootstrap/dist/css/bootstrap.css";

body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    
    
    background-color: #f6f6f6;    
  
  }

  .providerImg{
      width:50px;
      height:50px;
  }

  .flight{
  box-shadow: 0px 0px 10px #9d99be !important;
    background-color: #ffffff;
    margin-top:25px;
    padding:25px;
}

.dep-arr, .flightPrice{
    font-size:20px;
   
}

.flightBookBtn {
    text-align: center;
}

.flight div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flightId{
    padding-left:15px;
}

.flightBookBtn button{
    padding: 10px 35px !important;
}

.dep-arr p{
    padding:15px;
    margin-bottom: 0;
}

@media screen and (min-width:768px){    

    header i{
      font-size:32px;
      font-weight: bold;
    }

  }
