<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="#">Offers <span class="sr-only">(current)</span></a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Flights
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Domestic Flights</a>
                        <a class="dropdown-item" href="#">International Flights</a>
                        <a class="dropdown-item" href="#">Charter Flights</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        More
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Trip Deals</a>
                        <a class="dropdown-item" href="#">Gift Cards</a>
                        <a class="dropdown-item" href="#">Activities</a>
                    </div>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
</nav>

<section>

    <div class="container booking">
        <div class="row justify-content-center">
            <div class="col-md-6 col-10 card">
                <div class="card-head">
                    <h3>
                        <i>Passenger Details</i>
                    </h3>
                </div>
                <form ngform>
                    <div class="row">
                        <div class="col-md-6 col-12">
                            
                            <input type="text" placeholder="First Name"  />
                        </div>

                        <div class="col-md-6 col-12">
                            
                            <input type="text" placeholder="Last Name"  />
                        </div>
                    </div>
                    <div class="row">                           

                        <div class="col-md-6 col-12">
                            <label for="dob">Date of birth:</label>
                            <input type="date" id="dob" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-12">                                
                            <input type="text" id="contact" placeholder="Contact" />
                        </div>
                    </div>

                    <!-- <div class="row">
                        <div class="col-md-12 col-12">
                            <textarea rows="4" cols="80" name="address" >
                                Enter address here...</textarea>
                        </div>
                    </div> -->

                    <div class="row">
                        <p class="col-md-12 col-12 align-center">
                            <button name="proceedBtn" id="searchBtn" class="btn btn-primary">
                               Proceed for Payment
                            </button>
                        </p>
                    </div>
                </form>
                
            </div>
        </div>
    </div>

</section>