
<section>

    <div class="container ">
        <div class="row justify-content-center">
            <div class="flight col-md-10">
                <div class="row">
                    <div class="card-head col-md-12">
                        <h4>
                            <i>Congratulations! Booking Confirmed</i>
                            <img src="../../../assets/images/green-tick.png" id="greenTick" />
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="flightProvider col-md-2">
                        <img src={{flight.imageUrl}} class="providerImg" />
                        <div class="flightId">{{flight.flightId}}</div>
                    </div>
                    <div class="flightDate col-md-3">
                        <div class="flightDate">
                            {{this.flight.date}}
                        </div>
                    </div>
                    <div class="flightTime col-md-4">
                        <div class="dep-arr">
                            <p>{{flight.departure}}<br /><span class="placeName">{{flight.source}}</span></p>
                            &nbsp;&nbsp;
                            <span class="dash"></span> &nbsp;&nbsp;
                            <p>{{flight.arrival}}<br /><span class="placeName">{{flight.destination}}</span></p>
                        </div>
                    </div>
                    <div class="flightPrice col-md-1">
                        ${{flight.price}}

                    </div>
                </div>
                <div class="row passengerCard">                   
                        
                            <h5 class="col-md-10">
                                <img src="../../../assets/images/passenger.PNG" id="passengerIcon">Passenger details
                            </h5>
                        
                </div>
                <div class="row justify-content-center">                   
                    <ol id="passengerList" class="col-md-9">
                        <li class="passengerDetail" *ngFor='let passenger of flight.passengers'>
                            <div class="row ">
                                <div class="col-md-3 col-12">
                                    {{passenger.firstName}}
                                </div>

                                <div class="col-md-3 col-12">

                                    {{passenger.lastName}}
                                </div>
                                <div class="col-md-3 col-12">
                                    {{passenger.dob}}
                                </div>
                                <div class="col-md-3 col-12">
                                    {{passenger.contact}}
                                </div>
                            </div>
                        </li>
                    </ol>
                        
                </div>
            </div>
        </div>

        

    </div>





</section>