<section>
        
    <div id="loginRegister" class="row justify-content-center">

        <div class="card">
            <form ngForm id="login">
                <div class="card-head">
                    <h3 >
                        <i>Sign In</i>
                    </h3>
                    <p>
                        Sign in for using the application.
                    </p>
                </div>
               
                <div class="row">
                    <p class="width100">
                        <input type="text" name="loginUsername" placeholder="Username" class="loginInputField"
                            id="loginUsername" required/>
                    </p>
                </div>
                <div class="row">
                    <p class="width100">
                        <input type="password" name="loginPassword" placeholder="Password"
                            class="loginInputField" id="loginPassword" required/>

                    </p>
                    <p class="text-left width100">
                    <a href="javascript:void(0)">
                            Forgot Password?
                    </a>
                    </p>
                </div>                    

                <div class="row">
                    <p class="align-center width100">
                        <button name="loginSubmit" id="loginSubmit" class="btn-primary" onClick="window.location.href='/search'" >
                            Sign In
                        </button>
                    </p>
                </div>
                

                </form>


            </div>
        </div>




</section>
