#greenTick{
    width:20px;
    height:20px;
    margin-left:15px;
    animation: scale 0.5s linear infinite;
}



.booking form label{
    margin-bottom: 0;
}

#proceedBtn{
    margin-top:15px;
}


.booking form .row{
    margin-bottom:15px;
  }

  .booking input{
    margin-bottom:15px;
  }

  .providerImg{
    width:50px;
    height:50px;
}

.flight{
box-shadow: 0px 0px 10px #9d99be !important;
  background-color: #ffffff;
  margin-top:25px;
  padding:25px;
}
/* 
.flightProvider, .flightDate, .flightTime, .flightPrice{
  box-shadow: 0px 0px 10px #9d99be !important;
  background-color: #ffffff;  
  margin:0 5px;
} */

.dep-arr, .flightPrice, .flightDate{
  font-size:20px;
 
}

.flightBookBtn {
  text-align: center;
}

.flight div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flightId{
  padding-left:15px;
}



.flightBookBtn button{
  padding: 10px 35px !important;
}

.dep-arr p{
  padding:15px;
  margin-bottom: 0;
  line-height: 16px;
  text-align: center;
}

.placeName{
  font-size: 14px;
}

.dash{
  width: 60px;
  border-top: 3px solid rgb(81, 226, 194);
}

.flight:hover{
  box-shadow: 0px 0px 20px #9d99be !important;
}

.booking{
  margin-top:15px;
}

#passengerForm{
  width:92%;
}

.passengerDetail{
  margin-top:10px;
}

#passengerIcon{
    width: 35px;
      height: 35px;
      margin-right: 15px;
  }
  
  .passengerCard{
    margin-top:15px;
    
  }

  .passengerCard h5{
    padding-top:15px;
    border-top:1px solid lightgray
  }

  .card{
      margin-bottom: 20px;
  }
  
  
  #passengerList{
    font-size: 16px !important;
}

#noData p{
    font-size: 20px;
    color:red;
    padding:50px;
}

.cancelImage{
    position: absolute;
    bottom: 8px;
    right: 15px;
    width: 60px;
    height: 32px;
    transform: rotate(15deg);
    cursor: pointer;
}
    
  @keyframes scale {
    50% {
      -webkit-transform:scale(1.2);
      -moz-transform:scale(1.2);
      -ms-transform:scale(1.2);
      -o-transform:scale(1.2);
      transform:scale(1.2);
    }
  }

@media screen and (min-width:768px){    

  /* header i{
    font-size:32px;
    font-weight: bold;
  } */

}