@import "~bootstrap/dist/css/bootstrap.css";

.search form label{
    margin-bottom: 0;
}

#searchBtn{
    margin-top:15px;
}

.search input{
    margin-bottom:15px;
  }

.search form .row{
    margin-bottom:15px;
  }

